
.card-item--active {
  display: block;
  text-decoration: none;
  &:link {
    color: #000000;
  }
  &:visited {
    color: #000000;
  }
  &:active {
    text-decoration: underline;
  }
  &:hover {
    
    text-decoration: underline;
  }
}

.card-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  height: 12rem;
  border: 0.1rem solid #00000011;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  padding: 0.01rem 2rem;
  .card-item__wrap__img {
    width: 8rem;
    height: 6rem;
    object-fit: cover;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .card-item__news {
    margin-left: 2rem;
    width: 30rem;
    height: 6rem;

    .card-item__title {
      font-weight: 600;
      font-size: 14px;
    }

    .card-item__description {
      font-size: 12px;
      color: #898989;
      width: 30rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .card-item__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #898989;
  }

  .card-item__published-at {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: #898989;
    margin-top: 0.5rem;
  }
}

