.card-item--active {
  display: block;
  text-decoration: none;
  &:link {
    color: #000000;
  }
  &:visited {
    color: #000000;
  }
  &:active {
    text-decoration: underline;
  }
  &:hover {
    text-decoration: underline;
  }
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border: 0.1rem solid #00000011;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

.card-item__wrap {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-item__wrap__img {
  width: 100%;
  height: auto;
}

.card-item__news {
  margin-top: 1rem;
  width: 100%;
  height: auto;
}

.card-item__title,
.card-item__description {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.card-item__title {
  font-size: 16px;
  font-weight: 600;
}

.card-item__description {
  font-size: 14px;
  color: #898989;
}

.card-item__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.card-item__published-at {
  font-size: 12px;
  color: #898989;
}


@media (min-width: 768px) {
  .card-item {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 12rem;
    padding: 0.01rem 2rem;
  }

  .card-item__wrap {
    width: 8rem;
    height: 6rem;
  }

  .card-item__news {
    margin-top: 0;
    margin-left: 2rem;
    width: 30rem;
    height: 6rem;
  }

  .card-item__title {
    margin: 0;
    font-size: 14px;
    white-space: nowrap;
  }

  .card-item__description {
    font-size: 12px;
    white-space: nowrap;
  }

  .card-item__info {
    height: 2rem;
  }
}